body {
	font-family: 'Quicksand', sans-serif;

}

#title {
	font-size: 25px;
	padding: 15px;
}

#foodOptions {
	padding: 10px;
}

#cuisineChoice, #courseChoice, #ingredientSearch {
	width: 100%;
}


.jumbotron {
	background: url("../Images/platter.jpg");
	background-size: 100%;
	height: 300px;
}