body {
	font-family: 'Quicksand', sans-serif;
}

#title {
	font-size: 25px;
}

#cuisineChoice, #courseChoice, #ingredientChoice {
	padding: 25px;
}


.jumbotron {
	background: url("../Images/platter.jpg");
	height: 300px;
}